@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 15, 23, 42; /* text-slate-900 */
  --background-start-rgb: 255, 255, 255; /* white */
  --background-end-rgb: 248, 250, 252; /* slate-50 */
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-start-rgb));
  min-height: 100vh;
}
